Django==5.1.5
django-capture-tag==1.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
django-cors-headers==3.9.0
django-debug-toolbar==5.0.1
django-apscheduler==0.7.0
python-dotenv==1.2.1
requests==2.32.5
pillow==12.0.0
gunicorn==23.0.0
whitenoise==6.11.0

# The packages below are indirect dependencies and are specified here
# to ensure a stable environment.

asgiref==3.8.1
sqlparse==0.5.3
