{% extends "expenses/base_table_view.html" %}
{% load capture_tags i18n %}

{% block table_heading %}{% trans "Account " %}"{{ account.name }}"{% endblock %}
{% block table_button %}
{% capture as table_button_link silent %}/accounts/{{ account.id }}/sync{% endcapture %}
{% include "expenses/i_table_button.html" with text="Sync" link=table_button_link %}
{% capture as table_button_link silent %}/accounts/{{ account.id }}/edit{% endcapture %}
{% include "expenses/i_table_button.html" with text="Edit" link=table_button_link %}
{% capture as table_button_link silent %}/accounts/{{ account.id }}/delete{% endcapture %}
{% include "expenses/i_table_button.html" with class="btn-danger" text="Delete" link=table_button_link %}
{% endblock %}

{% block before_table %}
{{ account.desc }}
<h3>Transactions</h3>
{% endblock %}

{% block table_head_row %}
    <th>{% trans "Description" %}</th>
    <th>{% trans "Date" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Balance" %}</th>
    <th></th>
{% endblock %}

{% block table_row %}
    <td><a href="/transactions/{{ row.0.transaction.id }}">{{ row.0.transaction.desc }}</a></td>
    <td>{{ row.0.transaction.date_time|date:"Y-m-d H:i" }}</td>
    <td>{{ row.0.amount }}</td>
    <td>{{ row.1 }}</td>
    <td>
<div class="dropdown pull-right">
    <button class="btn-xs btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-left" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/{{ account.id }}/syncafter/{{ row.0.transaction.id }}">Sync after</a></li>
    </ul>
</div></td>
{% endblock %}

{% block table_empty_text %}
No transactions yet
{% endblock %}
