{% extends "expenses/base_table_view.html" %}
{% load capture_tags i18n expense_filters %}

{% block table_heading %}{% trans "Account " %}"{{ account.name }}"{% endblock %}
{% block table_button %}
{% capture as table_button_link silent %}/accounts/{{ account.id }}/sync{% endcapture %}
{% include "expenses/i_table_button.html" with text="Sync" link=table_button_link %}
{% capture as table_button_link silent %}/accounts/{{ account.id }}/edit{% endcapture %}
{% include "expenses/i_table_button.html" with text="Edit" link=table_button_link %}
{% capture as table_button_link silent %}/accounts/{{ account.id }}/delete{% endcapture %}
{% include "expenses/i_table_button.html" with class="btn-danger" text="Delete" link=table_button_link %}
{% endblock %}

{% block before_table %}
{% include "expenses/i_static_field.html" with label="Description" content=account.desc %}
<h3>Transactions</h3>
{% endblock %}

{% block table_head_row %}
    <th>{% trans "Description" %}</th>
    <th>{% trans "Date" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Balance" %}</th>
    <th></th>
{% endblock %}

{% block table_row %}
    {% if row.0 != None %}
    <td><a href="/sync/{{ row.0.id }}">Sync event</a></td>
    {% else %}
    <td><a href="/transactions/{{ row.1.transaction.id }}">{{ row.1.transaction.desc }}</a></td>
    {% endif %}
    <td>{{ row.1.transaction.date_time|date:"Y-m-d H:i" }}</td>
    <td>{{ row.1.amount|cents_to_string }}</td>
    <td>{{ row.2|cents_to_string }}</td>
    <td>
<div class="dropdown pull-right">
    {% if row.0 == None %}
    <button class="btn-xs btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-left" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/{{ account.id }}/sync?after_tr={{ row.0.transaction.id }}">Sync after</a></li>
    </ul>
    {% endif %}
</div></td>
{% endblock %}

{% block table_empty_text %}
No transactions yet
{% endblock %}
