{% extends "expenses/base_nav.html" %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans %}Create new {{ view.class.name }}{% endblocktrans %}</h1>
<form action="" method="post">{% csrf_token %}
    <div class="form-horizontal">
        {{ form.non_field_errors }}
        {% for field in form %}
            {% include "expenses/i_form_field.html" with field=field label=field.label %}
        {% endfor %}
        {% include "expenses/i_submit_button.html" with text="Save" %}
    </div>
</form>

{% endblock %}
