{% extends "expenses/base_table_view.html" %}
{% load i18n expense_filters %}

{% block table_heading %}{% trans "Transactions" %}{% endblock %}
{% block table_button %}
{% include "expenses/i_table_button.html" with text="New" link="/transactions/add" %}
{% endblock %}

{% block table_head_row %}
    <th>{% trans "Description" %}</th>
    <th>{% trans "Date/time" %}</th>
    <th>{% trans "Actions" %}</th>
    <th>{% trans "Tags" %}</th>
{% endblock %}

{% block table_row %}
{% if row.3 == None %}
    <td><a href="/transactions/{{ row.0.id }}">{{ row.0.desc }}</a></td>
{% else %}
    <td>
        <a href="/sync/{{ row.3.id }}">Sync event</a>
        <button class="btn btn-xs" role="button">{{ row.1.0.1 }}&nbsp;{{ row.3.balance|cents_to_string }}</button>
    </td>
{% endif %}
<td>{{ row.0.date_time|date:"Y-m-d H:i" }}</td>
<td>
    {% for sub_tr in row.1 %}
    <button class="btn btn-xs" role="button">{{ sub_tr.1 }}&nbsp;{{ sub_tr.2|cents_to_string }}</button>
    {% endfor %}
</td>
<td>
    {% for tag_name in row.2 %}
    <button class="btn btn-xs" role="button">{{ tag_name }}</button>
    {% endfor %}
</td>
{% endblock %}

{% block table_empty_text %}
No transactions yet
{% endblock %}
