<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script type="module" crossorigin src="{% static 'index.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'index.css' %}">
</head>
<body>
    <div id="root"></div>
    <!-- React app will be loaded here -->
</body>
</html>
